@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 207, 207);
    font-weight: bold;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

hr{
    width: 90vw;
}

div.p-c{
    width: 80vw;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.438);
    margin-top:10px;
}

/* 1º :Hover Quando passar o Mouse por cima. */
button.botaoh{
    height: 30px;
    width: 150px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    overflow: none;
    border: 1px solid black;
    cursor:pointer;
    font-weight: bold;
}

.botaoh:hover{
    background-color: blue;
    color: white;
}

/* 2º :Active, Vai colocar o estilo quando tu clicar no botão. (Como estamos usando botão vai ser no botão, mas pode ser em uma div,input de formularios etc.) */

button.botaoa{
    height: 30px;
    width: 150px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    overflow: none;
    border: 1px solid black;
    cursor:pointer;
    font-weight: bold;
}
.botaoa:active{
    background-color: green;
}

/* 3º :Desabled Coloca um estilo quando o botão,input etc. Estiver desabilitado! */
button.botaod{
    height: 30px;
    width: 150px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    overflow: none;
    border: 1px solid black;
    cursor:pointer;
    font-weight: bold;
}

.butaod:disabled{
    background-color: crimson;
    opacity: 0.3;
}

/* 4º :Empty A ideia e que se tu tiver 3 botões, e um deles estiver vazio, a gente aplique um  estilo diferente a esse botão. */

button.botaoe{
    height: 30px;
    width: 150px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    overflow: none;
    border: 1px solid black;
    cursor:pointer;
    font-weight: bold;
}

.botaoe:empty{
    background-color:rgb(196, 58, 58);
}

/* 5º :first-of-type Coloca estilo no primeiro item. */

.FirstOfType p:first-of-type{
    color:red;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

/* 6º :firt-of-type coloca estilo no ultimo item.*/
.LastOftype p:last-of-type{
    color: gold;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

/* 7º Focus, coloca um estilo quando o input(ou outro, por exemplo div) receber foco*/

input.inputFocus{
    height: 30px;
    width: 200px;
    transition: 2s ease-in-out;
    text-indent: 1.2em
}

input.inputFocus:focus{
    background-color: olive;
    border-radius: 10px;
    transform: scale(110%);
    border: 2px solid black;
}

/* 8º Not, Cria uma condição de negação para aquele estilo. Muito util para quando você precisar aplicar o estilo dentro do seu projeto inteiro(todo), para uma classe especifica ou um tio de tag especifica. Porem ele não pode ser aplicado em uma unica situação! Quando Você precisa negar essa X condição. Por exemplo, Tu quer colocar estilo em todos os botões, exceto no que tem a class (teste) que está definida nesse botão. Ai tu não pode aplicar essse estilo.  */

.botao-not:not(.new){
    height: 30px;
    width: 200px;
    font-weight: bold;
    background-color: rgb(19, 141, 141);
}

/* 9º Checked. Coloca um estilo no checkbox. Funciona para input type="radio" também ! */

.checked:checked{
    background-color: rgb(255, 72, 0);
    height: 30px;
    width: 30px;
}

/* 10º :Checked + ::After. Faz com que quando o checkbox não esteja selecionado, ele fique com a primeira configuração. Depois que o usuario selecionar o checkbox, ele passsa a ter a segunda configuração, Observe que os content vão mudar também, de Inativo para Ativo. Ou seja a gente usou uma Pseudo-classe e uma Pseudo-Elemento juntas. E não precisou do JS.*/
.checkedAfter1{
        display: flex;
        flex-direction: column;
        text-align: center;
}

/*1º Primeira configuração */
.checkedAfter::after{
    content: 'Inativo';
    position: relative;
    left: 33.5rem;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

/*2º Segunda configuração  */ 
.checkedAfter:checked::after{
    content:'Ativo';
    color: rgb(51, 133, 51);
    font-weight: bold;
}
